* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar {
    width: 100%;
    background-color: rgb(113, 111, 111);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 20px;
    
  }
  
  .navbar a {
    float: left;
    color: #f2f2f2;
    margin-left: 5px;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    transition: 1s;
  
  }
.navbar a:hover{
  color: rgb(0, 0, 0);
}

  .logo {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
  }


  .header {
   width: 100%;
    color: rgb(45, 43, 43);
    padding-top: 50px;
    padding-bottom: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 2s;
  }

  .header:hover{
    color: pink;
  }

  .header-content {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
  }
  .banner-logo {
    height: 70px;
    width: 70px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    transition: 0.5s ease;
  }
  
  .banner-logo:hover{
    scale: 1.5;
  }
  .header-content h1 {
    padding-left: 15px;
  }
 .header p { 
    padding-left: 60px;
  }
  
  .homepage-content {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding: 0 60px 0 60px;
  }
  .homepage-content h3 span {
    font-size: small;
    font-weight: lighter;
  }
  
  .container-1 {
    width: 290px;
    height: 200px;

  }
  .container-2 {
    width: 290px;
    height: 200px;

  }
  .container-3 {
    width: 290px;
    height: 200px;

  }

  .cards{
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    width: 300px;
    height: 250px;
    text-align: center;
    background-color: rgb(129, 121, 121);
    transition: 1.5s;
  }
  .bg{
    background-color: rgb(53, 49, 49);
    color: white;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }
  .cards:hover{
    scale: 1.3;
  }

  .site{
    align-items: baseline;
    width: 100%;
    background-color: rgb(113, 111, 111);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 15px;
  }

  .site a{
    color: white;
    transition: 1.6s;
  }

  .site a:hover{
    scale: 1.3;
    color: black;
  }

  .sign{
    width: 25px;
    cursor: pointer;
    float: left;

  }

  .head{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    background-color: rgb(71, 70, 68);
    color: white;
    display: flex;
    align-items: justify center;
    justify-content: baseline;
    margin: 0%;
  }

  .main{
    padding-top: 25px;

  }

  .info{
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
  }
  .info2{
    padding-top: 15px;
    gap: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
  }
  .edu{
    font-family: 'Times New Roman', Times, serif;
  }
  .alt{
    display: grid;
    place-items: center;
    margin: 15px;

      height: 25px;
    }

  .bodyy{
   margin: 25px;
   font-family: 'Times New Roman', Times, serif;
  }
  .about-pic{
    height: 70px;
    width: 70px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    transition: 0.5s;
  }

.back{
  width: 40px;
  height: 40px;
  padding-top: 8px;
  padding-right: 10PX;
}

.map{
  width: 270px;
  height: 200px;
  border: solid 1px black;
  border-radius: 10px;
  align-items: center;
}

.calculator {
  width: 250px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
}
.display {
  width: 100px;
  height: 70px;
  margin: 10px;
  text-align: right;
  font-size: 15px;
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid #020202;
  border-radius: 5px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
button {
  height: 20px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: #ffffff;
  cursor: pointer;
}
button:hover {
  background: #0056b3;
}
.equal {
  background: #28a745;
}
.equal:hover {
  background: #1e7e34;
}

.container-3{
  align-items: center;
  padding-left: 25px;
}
